* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: grid;
    font-family: Tahoma, Calibri, serif;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: white;
    border-bottom: 1px white solid;
    height: 105px;
    width: 100%;
    z-index: 2;

}

.menu__section {
    display: flex;
    align-items: center;
}

.menu__item {
    font-size: 15px;
    margin-right: 15px;
}

.menuLogo {
    padding-left: 55px;
}


.presentation__slider {
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.presentation__navigation {
    position: absolute;
    bottom: 16px;
    left: 100px;
    display: flex;
    max-width: 100%;
}

.bar {
    height: 15px;
    width: 15px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: .5;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 0.8;
    transform: scale(1.1);

}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 200%;
    height: 100%;
    display: flex;
}

.slide {
    width: 50%;
    transition: all .6s ease;
}

.slides img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -50%;
}

.presentation__body {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 5%;
}

.presentation__text {
    color: white;
    width: 100%;
}

.title {
    font-size: 75px;
    font-weight: bold;
    padding-bottom: 20px;

}

.presentation__button {
    color: white;
    border: white solid 2px;
    margin-top: 50px;
}

.button {
    font-size: 15px;
    padding: 15px 40px;
}

.advantages {
    display: flex;
    padding: 900px 3% 100px 3%;
    margin: 0 auto;
    max-width: 1300px;

}

.advantages__column {
    flex: 0 1 33.333%;
}

.advantages__image img {
    max-width: 100%;
}

.topic {
    font-size: 25px;
    font-weight: bold;
    color: #3e5262;
}

.text_content {
    color: rgba(62, 82, 98, 0.62);
    font-weight: lighter;
    font-size: 15px;
}

.advantages__topic {
    margin-bottom: 20px;
}

.advantages__text {
    margin-bottom: 50px;
}

.column2 {
    padding: 0 30px;
}

.column3 {
    margin-top: 60px;
}

.advImg2 {
    padding-bottom: 30px;
}


.whyChooseUs {
    background-color: rgba(217, 212, 224, 0.62);
    display: flex;
    padding: 3%;

}

.whyChooseUs__container {
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    padding-top: 7%;
    padding-bottom: 7%;


}

.whyChooseUs__leftContent {
    max-width: 45%;
}

.whyChooseUs__rightContent {
    max-width: 45%;
    margin-left: 10%;
}

.whyChooseUs__topic1 {
    margin-bottom: 30px;
}

.whyChooseUs__button {
    color: white;
    background-color: rgba(62, 82, 98, 0.62);
    width: 65px;
    padding: 15px 40px;
    margin-top: 30px;
}

.whyChooseUs__rightBlock {
    background-color: #29c2d9;
    padding: 30px;
    margin-bottom: 10px;

}

.whyChooseUs__topic2 {
    color: white;
    margin-bottom: 20px;
    font-size: 18px;

}

.whyChooseUs__text2 {
    color: white;
    font-size: 13px;
}

.whyChooseUs__topic3 {
    background-color: white;
    font-size: 18px;
    padding: 30px;
    margin-bottom: 10px;
}

.whyChooseUs__topic4 {
    background-color: white;
    font-size: 18px;
    padding: 30px;
}

.LatestProducts {
    margin: 0 auto;
    max-width: 1300px;
}

.LatestProducts__topContent {
    width: 100%;
    height: 200px;
    text-align: left;
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
}

.LatestProducts__topContainer {
    width: 40%;
}

.LatestProducts__topTopic {
    margin-bottom: 20px;
}

.LatestProducts__bottomContent {

}

.LatestProducts__bottomContainer {
    display: flex;
}

.LatestProducts__topic {
    display: flex;
}

.LatestProducts__miniTopic {
    padding: 10px;
    margin-left: 20px;
}

.LatestProducts__text {
    margin-bottom: 20px;
}


.column22 {
    padding: 0 30px;
}

.LatestProducts__image img {
    max-width: 100%;
}

.packages {
    background-color: #dddddd;
    margin-top: 100px;
}

.packages__container {
    padding: 100px 0;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;

}

.pacColumn {
    background-color: white;
    width: 30%;
    padding: 80px 8% 80px 4%;
}

.packages__columnContainer2 {
    padding-top: 80px;


}

.packages__topic {
    display: flex;
    margin-right: 15px;
    padding-bottom: 15px;

}

.packages__price {
    margin-top: 10px;
    margin-right: 5px;
}

.packages__theses {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.packages__text {
    max-width: 300px;
    padding-bottom: 20px;
}

.packages__column2 {
    margin: -80px 5px;

}


.packages__thesis {
    font-size: 12px;
    color: rgba(62, 82, 98, 0.62);
    font-weight: bold;
    padding-bottom: 10px;
}

.packages__theses {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.packages__button {
    color: #3e5262;
    background-color: #dddddd;
    padding: 15px 40px;
    width: 65px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 13px;
}

.work {
    margin-top: 100px;
    margin-bottom: 50px;
    border-bottom: 1px #9c9c9c solid;
}

.work__container {
    max-width: 1300px;
    margin: 0 auto;
}

.work__topic {
    margin-bottom: 20px;
}

.work__text {
    max-width: 600px;
    margin-bottom: 40px;
}

.work__images {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
}

.imagesContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;


}

.workImg1 {
    grid-column: 1/3;
    grid-row: 1;


}

.workImg2 {
    grid-column: 3;
    grid-row: 1;
}

.workImg3 {

    grid-column: 1;
    grid-row: 2;
}

.workImg4 {

    grid-column: 2;
    grid-row: 2;
}

.workImg5 {

    grid-column: 3;
    grid-row: 2;
}

.work__image {
    max-height: 400px;
    position: relative;
    overflow: hidden;
}

.work__image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.clients {
    max-width: 1300px;
    margin: 0 auto;
}

.clients__container {
    display: flex;
    justify-content: space-between;
}

.services {
    margin-top: 50px;
    background-color: #bbbbbb;
}

.services__container {
    padding: 100px 0;
    max-width: 1300px;
    margin: 0 auto;


}

.services__topic {
    margin-bottom: 30px;
}

.services__text {
    max-width: 600px;
}

.services__advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    grid-gaP: 2px;


}

.services__advantage {
    background-color: white;
    padding: 100px 20px 50px 50px;
}

.contacts {
    max-width: 1300px;
    margin: 0 auto;
}

.contacts__container {
    margin: 100px 0;
}

.contacts__cities {
    display: flex;
}

.contacts__city2 {
    margin: 0 50px;
}

.contacts__topic {
    display: flex;
    padding-bottom: 10px;
}


.contacts__text {
    padding-bottom: 20px;
}

.contacts__miniTopic {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 12px;
}

.contacts__contact {
    color: #3e5262;
    font-size: 11px;
    font-weight: bold;
}

.contacts__number {
    padding-bottom: 10px;
}

.footer {
    margin-top: 80px;
}

.footer__topContent {
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    max-height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap

}

.footer__button {
    page-break-inside: avoid;
    break-inside: avoid;
    margin-bottom: 15px;
    font-size: 13px;
    color: #3e5262;
    font-weight: bold;
}

.footer__bottomContent {
    border-top: #9c9c9c solid 1px;
    max-width: 100%;
    padding: 30px 0;

}

.footer__bottomContainer {
    margin: 0 auto;
    max-width: 1300px;
    display: flex;

}

.footer__image {
    margin-right: 60%;
}

.signature {
    font-size: 13px;
    color: #3e5262;
}
